In [1]:
import pandas as pd

df = pd.read_csv('generated_text.csv')
df.keys()

Index(['metadata', 'topic', 'answer_type', 'problem', 'answer'], dtype='object')

In [1]:
import pandas as pd

df = pd.read_csv('sentences.csv')
df.keys()

Index(['Category', 'Domain', 'Sentence', 'HedgeItem', 'Source'], dtype='object')

In [2]:
df['Category'].nunique()

28

In [3]:
df['Category'].value_counts()

Category
Hedging Adverbs                501
Approximate Numerals           500
Uncertainty Frame + Modal      500
Temporal-Frequency Hedges      500
Tag-question Hedges            500
Quantifiers                    500
Pragmatic Particles            500
Parentheticals                 500
Negation Minimisers            500
Modals                         500
Attribution Frames             500
Metadiscourse Stance Frames    500
First-person Tentativeness     500
Epistemic Interrogatives       500
Doubt Opener + Cognitive       500
Confidence Disclaimer          500
Conditional Clauses            500
Concessive Hedging             500
Comparatives                   500
Cognitive Verbs                500
Emphatic Downtoners            499
Passive Voice                  499
Hedging Adjectives             498
Nouns                          375
Hedging Nouns                  125
Passenger Voice                  1
Emphatic Downtayers              1
Hed boat Adjectives              1
Name: count, dtype: int64

In [12]:
# Create a DataFrame with unique HedgeItem values by Category and Source, and their counts
category_source_hedge_data = []

for (category), group in df.groupby(['Category']):
    hedge_items = group['HedgeItem'].str.lower().unique()
    category_source_hedge_data.append({
        'Category': category,
        'Unique_HedgeItems': hedge_items,
        'Count': len(hedge_items)
    })

# Convert to DataFrame and display
result_df = pd.DataFrame(category_source_hedge_data)
result_df.to_csv('category_source_hedge_data.csv', index=False)

,orig_row,level,sentence,Source,metadata,topic,answer_type,question,answer
0,0,high,The official online publication date is unques...,Claude,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011"
1,0,high,I can confirm with complete certainty it was p...,Claude,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011"
2,0,high,"I'm sure that it went online on 5th September,...",GPT,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011"
3,0,high,There's no doubt in my mind that the date is 5...,GPT,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011"
4,0,high,There's absolutely no question that the online...,GPT,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011"

60000

In [32]:
import pandas as pd

# set seed
import numpy as np
np.random.seed(42)


df = pd.read_csv('sampled_12k_adaptive_level_priority.csv', encoding='latin1')
df.head()
# build a new csv, which is the copy of original csv 6 times
df_repeated = pd.concat([df] * 5, ignore_index=True)
len(df_repeated)

# randomly sample 5 rows
sampled_df = df_repeated.sample(n=5, random_state=42)
sampled_df

,orig_row,level,sentence,Source,metadata,topic,answer_type,question,answer
12628,317,moderate,I'm fairly confident that Beele's date of birt...,Grok,"{'topic': 'Music', 'answer_type': 'Date', 'url...",Music,Date,"In which year, month, and day was the singer B...",2002 September 30
37730,271,high,I'm absolutely certain that Jerez Zoo confirme...,Grok,"{'topic': 'Geography', 'answer_type': 'Place',...",Geography,Place,"In 2002, what zoo confirmed it had three femal...",Jerez Zoo
39991,231,moderate,I believe RuPaul attended Patrick Henry High S...,Claude,"{'topic': 'Other', 'answer_type': 'Place', 'ur...",Other,Place,What high school did RuPaul Charles attend in ...,Patrick Henry High School
8525,258,moderate,There is a strong indication that Shri A.Tombi...,GPT,"{'topic': 'Geography', 'answer_type': 'Person'...",Geography,Person,Who served as the first Deputy Commissioner of...,Shri A.Tombikanta Singh
8279,359,moderate,It appears that Seth Milchick is the superviso...,Claude,"{'topic': 'TV shows', 'answer_type': 'Person',...",TV shows,Person,Who is the supervisor for the Severed Floor at...,Seth Milchick