In [ ]:
import pandas as pd
import chardet

# 1. 检测文件编码
file_path = 'linguistic uncertainty dataset - SimpleQA.csv'
with open(file_path, 'rb') as f:
    result = chardet.detect(f.read())
detected_encoding = result['encoding']

# 2. 使用检测到的编码重新加载文件
df = pd.read_csv(file_path, encoding=detected_encoding)

# 3. 定义常见乱码字符的替换映射
replacements = {
    '√º': 'ü',
    '≈ë': 'ë',
    '√©': 'é',
    '√°': 'á',
    '√≠': 'í',
    '‚Äì': '–',
    '‚Ä¶': '…',
    '√§': 'ä',
    '√∂': 'ö',
    '√ü': 'ü',
    '√á': 'á',
    '√É': 'É',
    '√Ñ': 'Ñ',
    '√±': 'ñ',
    '√ç': 'ç',
    '√†': '†',
    '√∑': '∑',
    '√≥': '≥',
    '√≤': '≤',
    '√∞': '∞',
    '√´': 'ó',
    '√¨': 'ë',
    '√Æ': 'Æ',
    '√Ω': 'Ω',
    '√∫': '∫',
    '√π': 'π',
    '√∏': '∏',
    '√∂': '∂',
    '√¢': '¢',
    '√£': '£',
    '√™': '™',
    '√®': '®',
    '√†√∂': '†∂',  # 组合乱码
    '√â': 'â',
    '√ê': 'ê',
    '√î': 'î',
    '√ô': 'ô',
    '√û': 'û',
    '≈': '≈',
    '√': '',  # 残留符号，如果前面都匹配完了剩这个就清除
}
replacements.update({
    '‚Äôs': '’s',   # possessive ’s
    '‚Äù': '”',     # right double quote
    '‚Äú': '“',     # left double quote
    '‚Äò': '‘',     # left single quote
    '‚Äô': '’',     # right single quote
    '‚Ä€”': '—',    # em dash
    '‚Ä¢': '•',     # bullet
    '‚Ä¶': '…',     # ellipsis
})


# 4. 修复文本的函数
def fix_garbled_text(text):
    if isinstance(text, str):
        for garbled, correct in replacements.items():
            text = text.replace(garbled, correct)
    return text

# 5. 应用修复到整个 DataFrame
df_fixed = df.applymap(fix_garbled_text)

# 6. 保存修复后的文件（可选）
df_fixed.to_csv('fixed_400sentences.csv', index=False)

/tmp/ipykernel_1307982/2342929479.py:76: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_fixed = df.applymap(fix_garbled_text)

In [15]:
import pandas
df = pandas.read_csv('4LLM_merge.csv')

In [16]:
# read 14024 row
df.iloc[14024:14025]

,orig_row,level,sentence,metadata,topic,answer_type,question,answer,Source
14024,116,low,I have a vague recollection that the number is...,"{'topic': 'Politics', 'answer_type': 'Number',...",Politics,Number,How many children did Jos√© Figueres Ferrer ha...,Two.,Gemini

In [7]:
df.head()

,orig_row,level,sentence,metadata,topic,answer_type,question,answer,Source
0,0,high,I can definitively state that the paper was pu...,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011",Claude
1,0,high,"Without any doubt, the online publication date...","{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011",Claude
2,0,high,The records clearly show the paper was publish...,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011",Claude
3,0,high,I am absolutely certain the online publication...,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011",Claude
4,0,high,There is no question that the paper was publis...,"{'topic': 'Science and technology', 'answer_ty...",Science and technology,Date,"What's the month, day, and year of the online ...","5th September, 2011",Claude

In [11]:
# unique count for each unique value in the 'orig_row' column
(df['orig_row'].value_counts() != 120).sum()

np.int64(0)

In [12]:
df['answer_type'].value_counts()

answer_type
Date      15720
Person    11520
Other      8640
Number     7320
Place      4800
Name: count, dtype: int64

In [13]:
df['topic'].value_counts().sum()

np.int64(48000)